// 颜色定义规范
// 主色
$colorPrimary: #3b71e8;
$colorPrimary_op01: rgba(59, 113, 232, 0.03);
$colorPrimary_op02: rgba(59, 113, 232, 0.04);
$colorPrimary_op03: rgba(59, 113, 232, 0.2);
$colorPrimary_op04: rgba(59, 113, 232, 0.1);

// 辅助色
$colorsec01: #ffa982;
$colorsec02: #ddedfd;

// 点缀色
$colorsysforbid: #e32c2d;
$colorsystips: #19a719;
$colormain_on: #3565d0;
$colorsec01_on: #e59875;
$colorem01: #ffd557;
$colorem02: #ff8751;
$colorem03: #3b71e8;
$colorem04: #f55065;
$colorem05: #9cb6f0;
$colorem06: #FFA177;

// 无色系
$colorless_1: rgba(0, 0, 0, 0.6);
$colorless_2: #333;
$colorless_3: #666;
$colorless_4: #999;
$colorless_5: #aaa;
$colorless_6: #ccc;
$colorless_7: #ddd;
$colorless_8: #e1e1e1;
$colorless_9: #eee;
$colorless_10: #f9f9f9;
$colorless_11: #fff;
$colorless_12: rgba(0,0,0,0.3);
$colorless_13: rgba(0,0,0,0);
$colorless_14: rgba(102, 102, 102, 0.8);
$colorless_15: #E5E5E5;
$colorless_16: #F1F1F1;
$colorless_17: #F9FBFE;
$colorless_18: rgba(255, 255, 255, 0.6);
$colorless_19: rgba(255, 255, 255, 0.8);
